<nav class="container navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
            <li class="nav-item m-1 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Pre League
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/liv">Liverpool</a>
                    <a class="dropdown-item" href="/city">Manchester City</a>
                    <a class="dropdown-item" href="/united">Manchester United</a>
                    <a class="dropdown-item" href="/che">Chelsea</a>
                    <a class="dropdown-item" href="/ars">Arsenal</a>
                    <a class="dropdown-item" href="/tot">Tottenham</a>
                </div>
            </li>
            <li class="nav-item m-1 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    La Liga
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/bar">Barça</a>
                    <a class="dropdown-item" href="/rma">Real Madrid</a>
                    <a class="dropdown-item" href="/atm">Atlético de Madrid</a>
                </div>
            </li>
            <li class="nav-item m-1 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Serie A
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/juv">Juventus</a>
                    <a class="dropdown-item" href="/int">Inter de Milán</a>
                    <a class="dropdown-item" href="/acm">Milan</a>
                    <a class="dropdown-item" href="/roma">Roma</a>
                </div>
            </li>
            <li class="nav-item m-1 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Ligue 1
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/psg">PSG</a>
                    <a class="dropdown-item" href="/mar">Marseilla</a>
                    <a class="dropdown-item" href="/lyon">Lyon</a>
                </div>
            </li>
            <li class="nav-item m-1 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Bundesliga
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/dort">Dortmund</a>
                    <a class="dropdown-item" href="/bayern">Bayern</a>
                    <a class="dropdown-item" href="/leip">Leipzig</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
crossorigin="anonymous"></script>
<style>
    .navbar {
        background-color: var(--secondary-bg) !important;
        border-bottom-left-radius: 12px !important;
        border-bottom-right-radius: 12px !important;
    }

    .nav-link {
        color: var(--light-white) !important;
    }

    .dropdown-menu {
        background-color: var(--secondary-bg) !important;
    }

    .dropdown-item {
        color: var(--light-white) !important;
        transition: .7s !important;
    }

    .dropdown-item:hover {
        background-color: var(--light-purple) !important;
    }
</style>