<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incluir Datos</title>
</head>
<body>
    <form action="/mostrarDatos" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="number" name="price" placeholder="price">
        <input type="number" name="year" placeholder="year">
        <input type="text" name="liga" placeholder="liga">
        <input type="text" name="team" placeholder="team">
        <input type="text" name="top" placeholder="top Boolean">
        <input type="text" name="type" placeholder="Type">
        <input type="text" name="imagePath" placeholder="imagePath">
        <input type="text" name="imagePath2" placeholder="imagePath2">
        <input type="text" name="imagePath3" placeholder="imagePath3">

        <button type="submit">enviar</button>
    </form>
    <br><br><br><br><br>
    <a href="/">Home</a>
</body>
</html>