<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile</title>
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="css/utils/navbar.css">

</head>

<body>
    <%- include('utils/navbar') %>
        <div class="bg-container">
            <header>
                <img class="header-image" src="images/mobile-header-image.jpg" alt="header-image">
                <div class="header-text">
                    <div>
                        <h1><strong>stt</strong>supply</h1>
                    </div>
                </div>
            </header>
        </div>
</body>

</html>